<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>My stupid spider game</title>
	</head>
	<body class="flex flex-col items-center justify-center min-h-screen bg-indigo-950 py-8">
		<div class="border-8 border-green-500 rounded-xl bg-green-500">
		<iframe id="mygame-iframe" src="/game.html" class="rounded-lg" width="1280" height="720"></iframe>
		</div>
		<h1 class="text-2xl text-center font-bold text-white py-2">
			My stupid spider game - v:1.0.0
		</h1>
		<p class="text-white max-w-sm font-medium py-2">
			Keyboard arrows to move. 
			Hold shift to move faster. 
			Try to not die of hunger. 
			Sitting still makes hunger drain slower.
			Eat Mosquitoes and Flies.
			If you try to eat with your butt you will die.
			Doesn't work on phones yet.
		</p>
		<iframe frameborder="0" class="my-8" src="https://itch.io/embed/2836936?linkback=true&amp;bg_color=1E1B4B&amp;fg_color=fff&amp;border_color=fa5c5c" width="552" height="167"><a href="https://king-cod.itch.io/stupid-spooder-game">Stupid Spooder Game by king_cod</a></iframe>
	</body>
</html>
